{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>Event</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ event.type }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ event.dateDebut ? event.dateDebut|date('d-m-Y')  }}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{{ event.dateFin ? event.dateFin|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ event.lieu }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ event.ville }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ event.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('event_index') }}">back to list</a>

    <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>

    <div class="jumbotron">
        <h1 class="display-4">Coordonnées de l'Event:</h1>
        <h2>La soirée: {{ event.type}} </h2>
        <h4>Avec:  {{ event.artist_id.nom}} </h4>
        <h5>Ca se passe du {{ event.dateDebut|date('d-m-Y')}} au {{ event.dateFin|date('d-m-Y') }} </h5>
        <p>X: {{ response.features.0.geometry.coordinates.1 }} </p>
        <p>Y: {{ response.features.0.geometry.coordinates.0 }}</p>

        <div class="text-center">
         <a class="btn btn-primary btn-lg text-right" href="#" role="button">Réserver</a>
       </div>
        <hr class="my-4">

           
        <div id="mapid" style="height:180px">
         {% include('/leaflet/leaflet.html.twig') %}
        </div>
    </div>

    {# {{dump(response)}} #} 

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
