{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="jumbotron clearfix">
        <h1 class="display-4">Les artistes les plus vues sur des évènements</h1>
        {# {{ dump(request1) }} #} 
       <h2> Artistes ayant les plus d'évènements et de pays francais:</h2>
       {% for a in request1 %}
        <p><strong>{{a.artist.nom}}</strong>  participe à <strong>{{ a.events }}</strong> évènements!  </p>
        {% endfor %}

        {# {{ dump(result) }} #}
        <h2>Les artistes ayant le plus plus d'évènements:</h2>
{% for a in result %}
        <p><strong>{{a.nom}}</strong>  participe à <strong>{{ a.nbE }}</strong> évènements!  </p>
        {% endfor %}

        
        <hr class="my-4">

           
        
    </div>

{% endblock %}
