{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="jumbotron clearfix">
        <h1 class="display-4">Les artistes les plus vues sur des évènements</h1>
        {# {{ dump(request1) }} #} 
       <h2>{% trans %} Artistes ayant les plus d'évènements et de pays espagnol: {% endtrans %} </h2>
       {% for a in request1 %}
        <p> {{a.artist.nom}} {{ 'num_of_events' | trans({'count':a.events})  }}  </p>
        {% endfor %}

        {# {{ dump(result) }} #}
        <h2>Les artistes ayant le plus plus d'évènements:</h2>
{% for a in result %}
        <p>{{a.nom}} {% trans with {'count' : a.nbE} %} num_of_events {% endtrans %} </p>
        {% endfor %}

        
        <hr class="my-4">

           
        
    </div>

{% endblock %}
